body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black; /* Fundo preto */
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flower {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 10px solid transparent;
    animation: grow 3s ease forwards, colorize 3s ease forwards;
}

@keyframes grow {
    0% {
        width: 0;
        height: 0;
        border-width: 10px;
    }
    100% {
        width: 200px;
        height: 200px;
        border-width: 0;
    }
}

@keyframes colorize {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: yellow; /* Cor da flor */
    }
}

.parabens {
    color: white;
    font-size: 30px;
    opacity: 0;
    animation: showText 4s linear forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
